<!DOCTYPE html>
<html lang="en" ng-app="LunchCheck">
<head>
  <meta charset="UTF-8">
  <title>Module 1</title>
<script src="angular.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="main">
  <div class="container" ng-controller="LunchCheckController">
    <div class="row">
      <div class="col-md-12">
        <h1 >CourseEra assignment </h1>
        <p>
          <label ng-for="foodString">Enter food items: </label>
          <input type="text" ng-model="itemString" ng-class="{ok: resultOk, notOk: resultOk == false}">
          <button ng-click="checkItems();">Check if too much</button>
        </p>
        <p>
          <output ng-class="{ok: resultOk, notOk: !resultOk}">{{resultString}}</output>
        </p>
        
      </div>
    </div>
    <footer class="row">
      <div class="col-md-12">
        
      </div>
    </footer>
  </div>
  
</body>
</html>